<div class="popup-title">
  <span class="client-name__label">Client Name</span>
  <span class="client-name__value">{{app?.client || '-'}}</span>
</div>

<div class="popup-body">
  <div class="app-details">

    <!-- Key/Value Pairs -->
    <div class="meta-container">
      <ul>
        <li class="mb-3">
          <span class="value">{{app?.description || '-'}}</span>
        </li>
        <li>
          <span class="key">Crown Land File No.:</span>
          <span class="value">{{app?.cl_file || '-'}}</span>
        </li>
        <li>
          <span class="key">Disposition Transaction ID:</span>
          <span class="value">{{app?.tantalisID || '-'}}</span>
        </li>
        <li>
          <span class="key">Location:</span>
          <span class="value">{{app?.location || '-'}}</span>
        </li>
      </ul>
    </div>

    <hr class="mt-3 mb-3">

    <!-- Status -->
    <ul class="status-container mt-2">
      <li>
        <i class="material-icons cp-active" title="Commenting Open" *ngIf="app?.cpStatus === 'Commenting Open'">
          comment
        </i>
        <i class="material-icons cp-inactive" title="{{app?.cpStatus}}" 
          *ngIf="app?.cpStatus != 'Commenting Open'">
          comment
        </i>
        <span>{{app?.cpStatus}}</span>
      </li>
      <li>
        <!-- Under Review -->
        <i class="material-icons" title="{{app?.appStatus}}" 
          *ngIf="app?.status == 'AC'">
          access_time
        </i>
        <!-- Decision Made -->
        <i class="material-icons" title="{{app.appStatus}}" 
          *ngIf="app?.status == 'AL' || app?.status == 'DE' || app?.status == 'OA' || app?.status == 'OF'">
          error_outline
        </i>
        <!-- Accepted, Tenure: Disposition in Good Standing -->
        <i class="material-icons" title="{{app.appStatus}}" 
          *ngIf="app?.status == 'DG' || app?.status == 'ACCEPTED'">
          check
        </i>
        <!-- Cancelled, Disallowed, Suspended -->
        <i class="material-icons" title="{{app?.appStatus}}" 
          *ngIf="app?.status == 'CA' || app?.status == 'DI' || app?.status == 'SU'">
          cancel
        </i>
        <i class="material-icons" title="{{app?.appStatus}}" 
          *ngIf="app?.status == 'DI' || app?.status == 'SU'">
          warning
        </i>
        <!-- Unknown -->
        <i class="material-icons" title="{{app?.appStatus}}" 
          *ngIf="app?.status == 'UN'">
          warning
        </i>
        <span>{{app?.appStatus}}</span>
      </li>

      <!--
      <div class="status-indicator__app">
        <span>App Status</span>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'AC'">
          access_time
        </i>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'DG'">
          check_circle
        </i>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'CA'">
          highlight_off
        </i>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'OF'">
          info
        </i>>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'SU'">
          warning
        </i>
        <i class="material-icons md-36" title="{{app?.appStatus}}" *ngIf="app?.status == 'UN'">
          help
        </i>
      </div>
      -->

    </ul>

  </div>
</div>